@media (min-width: 499px) {
  /* Add your specific styles for min-width: 499px here */
}

* {
  background-color: black;
  color: #dedede;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: transparent;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  color: #dedede;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a:hover {
  color: #fff;
}

.home, .product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 20vh;
}

.avatar, .about, .begin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 80%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 499px;
  height: 499px;
  position: relative;
  left: 118px;
}

.person {
  width: 499px;
  height: 499px;
  position: relative;
  margin: 0 118px 50px 0px;
}

.image-container, .text {
  flex: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1, h2 {
display: flex;
justify-content: center;
align-items: center;
  color: #FEFEFE;
  font-size: 48px;
  font-family: Oswald;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 20px;
}

h3 {
display: flex;
width: 828px;
height: 60px;
  color: #D9D9D9;
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: -0.72px;
}

p {
  color: #D9D9D9;
  font-size: 23px;
  font-family: Source Sans Pro;
  line-height: 23px;
}

.heading {
  display: flex;
  width: 591px;
  height: 151px;
  flex-direction: column;
  justify-content: flex-end;
}

.text-primary {
  margin-bottom: 31px;
  width: 561px;
  height: 122px;
}

.text-secondary {
  margin-top: 31px;
  margin-bottom: 20px;
  width: 932px;
  height: 102px;
}

.text-third {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 791px;
  height: 77px;
}

span {
  background: linear-gradient(90deg, #28B5E6, #E0369E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  width: 12rem;
  height: 3rem;
  border: 1px solid #dedede;
  cursor: pointer;
  color: #dedede;
  margin: 20px;
}

.btn-primary {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #EDEDED;
  text-shadow: none;
  background: linear-gradient(90deg, #28B5E6, #6449D6);
  box-shadow: transparent;
  border: 1px transparent ;
  transition: 0.5s ease;
  user-select: none;
}

.btn-primary:hover,
.btn-experience:focus {
  color: #fefefe;
  background: linear-gradient(90deg, #6449D6, #E0369E);
  border: 1px transparent;
  border-image: linear-gradient(90deg, #E0369E, #6449D6) 1;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #E0369E, 0 0 20px #E0369E, 0 0 50px #E0369E, 0 0 100px #E0369E;
}

.btn-experience {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #EDEDED;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #EDEDED;
  transition: 0.5s ease;
  user-select: none;
}

.btn-experience:hover,
.btn-experience:focus {
  color: #ffffff;
  background: #E0369E;
  border: 1px solid #E0369E;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #E0369E,
              0 0 20px #E0369E,
              0 0 50px #E0369E,
              0 0 100px #E0369E;
}

.sophia {
  margin-top: 20px; /* Adjust the margin as per your preference */
}
